* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    background-color: black;
    padding: 25px;
    width: fit-content;
    height: 100vh;
}

.logo-small {
    width: 40px;
    height: 5%;
    margin-bottom: 50px;
}

.logo-big {
    display: none;
}

.items-container {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
}

.header-items-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.footer-items-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.profile-icon {
    background-color: gray;
    border-radius: 50%;
}