* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    background-color: black;
    padding: 25px;
    width: fit-content;
    height: 100vh;
}

.logo-small {
    width: 40px;
    height: 5%;
    margin-bottom: 50px;
}

.logo-big {
    display: none;
    margin-bottom: 60px;

}

.items-container {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
}

.header-items-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

h4 {
    color: white;
    text-transform: uppercase;
}

.fa-solid {
    background-color: gray;
    padding: 30px;
}

.footer-items-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.profile-icon {
    background-color: gray;
    border-radius: 50%;
}

.download-icon {
    text-align: left;
}

.item {
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
}

.item-title {

    display: none;
}

.item-image {}

/* .header-items-container>img:hover {
    border-left: 1px solid green;
} */

@media (min-width:1024px) {
    .logo-big {
        display: block;

    }

    .logo-small {
        display: none;
    }

    .item-title {
        width: 85%;
        display: block;
    }

    .item-image {
        width: 15%;
    }

    .sidebar {
        max-width: 25%;
    }
}